@charset"UTF-8";
body{
	margin-right: 15px; 
	margin-bottom: 15px;
}
html {
    scroll-behavior: smooth;
}
.container{
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 40px;
	
}
.navbar { 
	background-color: #6b241e;
	padding: 7px 0 7px 30px;
}	

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	
	display: flex;
	gap: 30px;
}

.nav-list a {
	display: block;
    font-family: "Hoefler Text", Georgia, serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
	padding: 10px 15px;
}


.nav-list li {
    margin-right: 0px;
}
	
.nav-list a {
    display: block;
	padding: 10 px 15px;
	color: #fbfcee;
	text-decoration: none;
}

.nav-list a:hover {
	background-color: #6b241e;
}
	
.choosingfonts {
	
    width: 100%;
  
}




body {
    font-family: "calibri";
    margin: 0;
    background-color: #fbfcee;

}
h1 {
  font-family: "Bodoni"; 
	font-size: 100px
}

h2 {
  font-family: "calibri";
	font-size: 80px
}

h3 { 
	padding-top: 0px;
	font-family: "calibri";
	font-size: 55px
	
}


p {
  font-family: "calibri";
	font-size: 22px;
    line-height: 1.5;
}


.nav-table {
    width: 100%;
    table-layout: fixed;
}

.nav-table td {
    text-align: center;
}




.main-title {
  text-align: center;
	background-color: #faebd7;
}
.concepts {
  text-align: center;
	font-size: 25px;
	margin-top: -20px;
	background-color: #faebd7;
}


	
	
	
        .typography-section {
             display: flex;
             align-items: flex-start;
             justify-content: space-between;
             gap: 40px;
             margin-top: 160px;
			margin-bottom: 30px;
			padding-right: 40px;
			margin-left: 80px;
        }

        .typography-text {
            width: 45%;
			padding-left: 0px;
			padding-right: 40px;
			margin-top: 0px;
			margin-bottom: 35px;
			
        }


   .varywidth h3 {
            width: 45%;
			padding-left: 80px;
			padding-right: 40px;
			line-height: 1.5;
	        padding-top: 20px;
        }

   .varywidth p {
			padding-left: 80px;
			padding-right: 40px;
	        
 }

        .typography-image {
            width: 50%;
        }

        .typography-image img {
            width: 100%;
            height: auto;
        }




.fonts-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-top: 150px;
	padding-right: 40px;
	margin-left: 20px;
	margin-bottom: 40px;
}

.fonts-text {
    width: 45%;
	padding-left: 60px;
    padding-right: 0px;
	line-height: 1.5;
}

.fonts-image {
    width: 48.5%;
}

.fonts-image img {
    width: 100%;
    height: auto;
	display: block;
	margin: 0;
}
   
.choosingfonts {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 150px;
}

.principles-image img {
    width: 100%;
    height: auto;
}


body {
    margin: 0;
	background-color: #faebd7;
}

.bottom-red-section {
	background-color: #6b241e;
	color: #fbfcee;
	padding-top: 60px;
	padding-bottom: 60px;
}


.red-button {
    background-color: #fbfcee;
    color: maroon;
    border-radius: 20px;
	padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
	margin-left: 0;
}

.cream-button {
    background-color: #fbfcee;
    color: #6b241e;
    border: 2px solid #6b241e;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
	margin-left: 0px;
}

.google-fonts-button {
    background-color: #fbfcee;
    color: #6b241e;
    border: 2px solid #6b241e;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;

    margin-left: 80px;
}

.bottom-red-section .cream-button:visted,
.bottom-red-section .cream-button:hover {
    color: #fbfcee;
}

.varywidth .red-button  {
	margin-left: 80px;
	}

.negative-space-section {
	background-color: transparent;
    margin-top: 20px;
    margin-bottom: 70px;
    padding-left: 80px;
    padding-right: 40px;

}

.negative-space-section h3 {
    font-size: 60px;
}
 

.negative-space-section p {
    font-size: 37px;
    line-height: 1.5;
}

.negative-space-section .red-button {
    display: inline-block;
    margin-top: 20px;
}

.principles-image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0;
	padding-top: 100px;
	padding-bottom: 30px;
}


.unityprimarymethodsimage {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	}


.unity {
	background-color: transparent;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 40px;
	
	display: flex;
	align-items: Flex-start;
	gap: 20px;
	}

.unity h3 {
    font-size: 60px;
	margin-bottom: 10px;
	padding-left: 0;
}

.unity p {
    font-size: 37px;
    line-height: 1.5;
	padding-left: 0px;
	padding-right: 0px;
}


	
.creditsandcitations {
    padding-left: 80px;
    padding-right: 40px;
	font-size: 25px;
	line-height: 1.5;
}

.creditsandcitations a,
.creditsandcitations a:visited,
.creditsandcitations a:hover,
.creditsandcitations a:active {
    color: #fbfcee;
}











